.tendopay__example-payment {
    clear: both;
    padding: 1rem 0;
}

.tendopay__example-payment__logo {
    display: initial;
    vertical-align: middle;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    width: 95px;
    margin-top: -3px;
}

.tendopay__example-payment__disclaimer {
    font-size: 0.8em;
    display: block;
    color: #999;
}
